# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
/build-brauhelfer-Desktop_Qt_5_3_GCC_32bit-Debug/
/build-brauhelfer-Desktop_Qt_5_3_GCC_32bit-Release/
/build-brauhelfer-Desktop_Qt_5_3_0_GCC_64bit-Debug/
/build-brauhelfer-Desktop_Qt_5_3_0_GCC_64bit-Release/
/build-brauhelfer-Desktop_Qt_5_3_MinGW_32bit-Debug/
/build-brauhelfer-Desktop_Qt_5_3_MinGW_32bit-Release/
