language: cpp

os:
  - linux
  - osx

dist: trusty

compiler:
  - clang
  - gcc

sudo: required

matrix:
  # Qt no longer supports GCC on OSX.
  allow_failures:
    - os: osx
      compiler: gcc

before_install:
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then brew update ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then sudo apt-get update -qq ; fi

install:
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then brew install qt ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then sudo apt-get install qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev libsqlite3-dev libqt5svg5* ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then sudo apt-get install qt5-default qttools5-dev-tools ; fi

before_script:
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then chmod +x ./build_macos.sh ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then chmod +x ./deployment/debian/deploy.sh ; fi
  # comment out #define DEBUG true
  - sed -i '' -e '/^#define DEBUG true/ s/^#*/\/\/#/' ./source/src/definitionen.h 
script:
  - if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then TAG_NAME=${TRAVIS_TAG} ./build_macos.sh /usr/local/opt/qt/bin/ ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then cd source; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then qmake -project ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then qmake brauhelfer.pro ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then make ; fi
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then ./deployment/debian/deploy.sh ./bin/kleiner-brauhelfer /opt/Qt/5.10.0/gcc_64/bin/ ; fi

#  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 100 ; fi
#  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-6 100 ; fi
#  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then chmod +x build_linux.sh ; fi
#  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then TAG_NAME=${TRAVIS_TAG} CXX="g++-6" CC="gcc-6" ./build_linux.sh ; fi

deploy:
  provider: releases
  api_key:
    secure: P+c36BH2jYRUUP+ycXh/lS3MLFWb92Q5RInWLq4/Cn/4O/9MXi+sZHYEsKspp/lVzno112aGksA/MVrU5bPsLB6Af1YGG1WFTR9rtS8bxTm50l4fdm5m3gkt4VDfmzx2bTD5PJMRLsH3tcg+GF5ugysY5HtQuoWfO/HKSJA0jAYN+7qa80bMK0xfj5z/O/sG64avJ2Wpk/rLPi9pwGW6Oun8FLyG0Phg5e8zbjxWCogsOBYgJh+QY5EeYdB988RZK7GPGDKGTjn4TIHUinoJNfUdd/LgSgIbGzEiPrbzLuzOVDx9en+DS6O3GZ/4mEoKKCK8Iow6x0uJpnlX/phY4y1B5HR4oFKq6R/jmfWbkCllxza/HDnkjVVpQfgfn7rszNl4cmgflZzdalGrbnhXugtDWe+fmjjUkZQUyR4sdGVi953wMl+PfzOYDECkeLQm6kjfY4Pm6UCMXk3luOOjOVXU6/gEsYbTAFZkc/Cm46XdKwyhCZR9vENViF09r3V5HxWe8rAuX386p0RqARU/OcD+0h4xxcmhqKUYlYZJgTDhf8epOkrHH+1e40JvaOFUS1E862kAokpDmxNLFt7KQq0tRP/dyrBRT9d6Wg0fylqDXvKwpznRWV87QrAuEpvbTcSgkYDRYpY8SL5KcyhglMd/lcnKhMiyUxAq/ipD3JI=
  file:  "./bin/kb_macos_*.zip"
  file:  "./kb_linux_*.tar.gz"
  file_glob: "true"
  skip_cleanup: true
  overwrite: true
  on:
    all_branches: true
