Source: kleiner-brauhelfer
Section: misc
Priority: extra
Maintainer: m.eik michalke <meik.michalke@hhu.de>
Build-Depends:
    debhelper (>= 7),
    qt5-qmake,
    libqt5svg5-dev,
    libqt5webkit5-dev
Standards-Version: 3.9.5
Homepage: http://www.joerum.de/kleiner-brauhelfer

Package: kleiner-brauhelfer
Section: misc
Architecture: any
Depends:
    ${shlibs:Depends},
    ${misc:Depends}
Description: Ein Programm zum berechnen und verwalten von Biersuden
 Der kleine-brauhelfer ist ein Hilfsprogramm für Hobbybauer zum Erstellen und Verwalten von Biersuden.
